h1 {
    color: blue;
    font-family: Cambria;
    font-size: 300%;
  }
  h2 {
    color: blue;
    font-family: Cambria;
    font-size: 100%;
  }
  p {
    color: rgb(17, 7, 7);
    font-family: Cambria;
    font-size: 100%;
  }

  .column {
    width: 40%;
    float: left;
    margin: 10px;
    padding: 16px;
}

.centre {
    width: 50%;
    float: middle;
    margin: 10px;
    padding: 16px;

}
body {
  background-image: url("gradient_bg.png");
  background-repeat: repeat-x;
}